/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh; /* Full viewport height */
  margin: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.content {
  flex-grow: 1; /* Pushes the bottom-nav to the bottom */
}

